<div class="error_message">
  <%= render "devise/shared/error_messages", resource: resource %>
</div>
<div class="login_column">
  <% if notice %>
    <p class="alert alert-notice"><%= notice %></p>
  <% end %>
  <% if alert %>
    <p class="alert alert-error"><%= alert %></p>
  <% end %>
  <div class="login">
    <div class="login-triangle"></div>
    <h2 class="login-header">ログイン</h2>
    <div class="login-container">
      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <div class="field">
          <p><%= f.email_field :email, autofocus: true, autocomplete: "email",placeholder: "Email" %></p>
        </div>
        <div class="field">
          <p><%= f.password_field :password, autocomplete: "current-password", placeholder: "Password" %></p>
        </div>
        <div class="actions">
          <p><%= f.submit "ログイン" %></p>
        </div>
      <% end %>
    </div>
  </div>
  <div class="sighn_up_column"><%= link_to "アカウント登録はこちら", new_user_registration_path, class: "sighn_up" %></div>
  <div class="password_re_enter_column"><%= link_to "パスワードをお忘れの方はこちら", new_user_password_path, class: "password_enter" %></div>
  <div class="login_description">
    <br><b><p>※ログインすることによりYoutuberプロフィール画面でグッドボタンを押せるようになります。</p>
  </div>
</div>