<h3>新規登録</h3>
<%= form_with model: @user, local: true do |form| %>
  <ul>
    <% @user.errors.full_messages.each do |message| %>
      <li><%= message %></li>
  <% end %>
  </ul>
  <div>
    Name<br>
    <%= form.text_field :name %>
  </div>
  <div>
    Email<br>
    <%= form.text_field :email %>
  </div>
  <div>
    Password<br>
    <%= form.text_field :password %>
  </div>
  <div>
    <%= form.submit "Create User" %>
  </div>
<% end %>
