<!DOCTYPE html>
<html lang="ja">
  <head>
    <title>TestApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta charset="utf-8">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" rel="stylesheet">
  </head>

  <body>
    <header>
      <ul class="topnav">
        <li class="left"><%= link_to "TOP", "/youtubers/home" %></li>
        <li><%= link_to "ランキング", "/youtubers/subscriber_ranking" %></li>
        <li><%= link_to "ユーチューバー検索", "/youtubers/" %></li>
        <li><%= link_to "ログイン", "/users/sign_in" %></li>
        <li class="right"><%= link_to "ログアウト", "/users/sign_out" %></li>
      </ul>
    </header>
    <div class="wrapper">
      <%= yield %>
    </div>
    <footer>
      <p>(c) copy right</p>
    </footer>
  </body>
</html>
