<%= render "devise/shared/error_messages", resource: resource %>
<div class="login_column">
  <% if notice %>
    <p class="alert alert-notice"><%= notice %></p>
  <% end %>
  <% if alert %>
    <p class="alert alert-error"><%= alert %></p>
  <% end %>
  <div class="login">
    <div class="login-triangle"></div>
    <h2 class="login-header">アカウント登録</h2>
    <div class="login-container">
      <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
        <div class="field">
          <p><%= f.email_field :email, autofocus: true, autocomplete: "email",placeholder: "Email" %></p>
        </div>
        <div class="field">
          <p class="password_enter"><%= f.password_field :password, autocomplete: "new-password", placeholder: "Password" %></p>
          <% if @minimum_password_length %>
            <em class="password_length">(パスワードは<%= @minimum_password_length %>文字以上必要です)</em>
          <% end %><br />
        </div>
        <div class="field">
          <p><%= f.password_field :password_confirmation, autocomplete: "new-password", placeholder: "パスワードを再入力してください" %></p>
        </div>
        <div class="actions">
          <p><%= f.submit "送信" %></p>
        </div>
      <% end %>
    </div>
  </div>
  <div class="sighn_in_column"><%= link_to "ログインはこちら", new_user_session_path, class: "sighn_in" %></div>
  <div class="sighn_up_description">
    <br><b>※アカウント登録をすることによりYoutuberプロフィール画面でグッドボタンを押せるようになります。
  </div>
</div>